    <html>
    <head>
    <script src="extensions/angular.min.js"></script>
    <script src="bower_components/angular-base64/angular-base64.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="testcontrol">
    
        <input type="text" ng-model="A.username" placeholder="Enter Username" required>
        <input type="password" ng-model="A.password" placeholder="Enter Password" required>
        <input type="file"  placeholder="Browse image" name="file" id="test" required>
  
    
    
        <input type="button" value="Send" ng-click="setValues()" />
    
        <script>
    
    
            var app = angular.module('myApp', []);
    
    
    
            app.controller('testcontrol', function($scope, $http) {
                $scope.setValues = function() {
                	var formData = new FormData();            	
                    var file = '#test';
                    var json = $scope.A;
                    formData.append("file", file);
                    formData.append("ads",JSON.stringify(json));
                
                    $http({
                        method : 'POST',
                        url : 'form/upload',
                        headers : {
                            'Content-Type' : 'undefined'
                        },
                        data : formData
                    }).success(function(data) {
    
    
                        alert(JSON.stringify(data));
                    });
                };
    
               
    
            });
        </script>
        
        
    </body>
    </html>